@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pretendard';
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'geologica';
    src: url('./assets/fonts/Geologica-ExtraBold.ttf') format('ttf');
    font-style: normal;
}
