@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@font-face {
  font-family: 'pretendard';
  src: url('./assets/fonts/PretendardVariable.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'geologica';
  src: url('./assets/fonts/Geologica-ExtraBold.ttf') format('ttf');
  font-style: normal;
}
